<h3>New Person Profile</h3>
<!-- 

#<Person id: nil, name: nil, abstract: nil, description: nil, occupation: nil, allow_comments: nil, approved: nil, author_id: nil, author_type: nil, created_at: nil, updated_at: nil> 

 -->
<%= simple_form_for @person, url: users_people_path do |f| %>
  <%= f.input :name %>
  <%= f.input :abstract%>
  <%= f.input :description %>
  <%= f.input :occupation %>
  <%= f.association :places, as: :check_boxes, label: 'Which places is this person connected to?' %>
  <!-- < %= f.input :tags, :input_html => { :value => @person.tags.join(', ') }, as: :string %> -->
  <%= f.simple_fields_for @person.tags.first do |t| %>
    <%= t.input :name, label: 'Tags' %>
    <!-- < % byebug %> -->
  <% end %>
  <%= f.button :submit %>
<% end %>