<h3>New Person Profile</h3>
<!-- 

#<Person id: nil, name: nil, abstract: nil, description: nil, occupation: nil, allow_comments: nil, approved: nil, author_id: nil, author_type: nil, created_at: nil, updated_at: nil> 

 -->
<%= simple_form_for @person, url: users_people_path do |f| %>
  <%= f.input :name %>
  <%= f.input :abstract%>
  <%= f.input :description %>
  <%= f.input :occupation %>
  <%= f.association :places, as: :check_boxes, label: 'Which places is this person connected to?' %>
  <%= render 'shared/simple_fields_for_tags', resource: @person, f: f %>
  <%= f.button :submit %>
<% end %>