<%= simple_form_for @place, url: users_places_path do |f| %>
  <%= f.input :name %>
  <%= f.association :category, :include_blank => false %>
  <h4>Add an address</h4>
  <%= f.input :line_1 %>
  <%= f.input :line_2 %>
  <%= f.input :city %>
  <%= f.input :zip  %>
  
  <%= f.button :submit %>
<% end %>