<%= simple_form_for @place, url: users_places_path do |f| %>
  <%= f.input :name %>
  <%= f.association :categories, as: :check_boxes %>
  <%= f.association :people, as: :check_boxes %>
  <h4>Add an address</h4>
  <%= f.input :line_1 %>
  <%= f.input :line_2 %>
  <%= f.input :city %>
  <%= f.input :zip  %>
  <!-- < % byebug %> -->
  <%= render 'shared/simple_fields_for_tags', resource: @place, f: f %>

  <%= f.button :submit %>
<% end %>