<h2>What would you like write about?</h2>

<a href="<%= new_users_person_path %>" class="button">A Person</a>

<a href="<%= 
  new_users_place_path 
%>" class="button">A Place</a>

<h4>profile contents</h4>
  <div class="row">
    <% @people.each do |person| %>
      <div class="small-4 columns">
        <div class="item-wrapper">
          <div class="img-wrapper">
            <img src="http://i.imgur.com/Mcw06Yt.png">
            <a class="button" href="<%= users_person_path(person) %>">Read more</a>
          </div>  
          <a href="#"><h3><%= person.name %></h3></a>
          <p><%= person.abstract %></p>
        </div>  
      </div>
    <% end %>
  </div>


<h4>placeholder for map</h4>
<img src="" alt="I AM A MAP">