<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1>Look mom, i'm in rhode island!</h1>
    <nav>
      <a href="#">So look- this isn't really a nav...</a>
      <a href="<%= root_url  %>" class="button small">HOME</a>
    </nav>
    <%= yield %>

  </body>
</html>
